body{
    background-color: #b07cf7;
}
.blog {
    font-size: 90px;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    margin-bottom: 36px;
}
.dolore {
    font-size: 17px;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    width: 630px;
    margin: 0 auto 47px;
}
.blocks {
    display: flex;
}
.block {
    height: 260px;
    width: 330px;
    padding: 30px 20px 20px 20px;
    text-align: left;
    position: relative;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
}
.date {
    font-size: 32px;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    background-color: rgba(38,38,38,0.5);
    padding: 4px 0;
    border-radius: 5px;
    width: 60px;
    height: 52px;
    display: block;
    line-height: 27px;
    text-align: center;
}
.date .month {
    font-size: 21px;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
}
.block h1 {
    margin: 0px;
}
.card1 {
    background: url("../images/card1.png");
}
.card2 {
    background: url("../images/card2.png") bottom;

}
.card3 {
    background: url("../images/card3.png");
}

.blocks > .block:hover {
    color:white;
}
.block * {
    animation: all 1s linear;
}
.flex_parent {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    margin: 0 auto;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.blocks{
    align-items:flex-end;
    justify-content:space-around;
}

.flex_child {
    width: 1180px;
}
span{
    font-size: 13px;
    margin-bottom:23px;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    text-align:left;
}
h1{
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-align:left;
}

.bottom_gradient {
    background: url("../images/background_bottom_gradient.png") repeat-x;
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 150px;
    width: calc(100% - 40px);
    padding: 0 20px;
}

.bottom {
    position: absolute;
    bottom: 20px;
    left: 0px;
    width: calc(100% - 40px);
    color: #fff;
    padding: 0 20px;
}

.bottom h1 {
    margin: 0 0 15px;
}